@model anothertour.Models.Order

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности заявки</h1>

<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TourId)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.TourName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TourDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TourDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TouristsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TouristsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduleItemId)
        </dd>*@
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Index">Назад к списку</a> |
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a class="btn btn-secondary" asp-action="CreateEventFromOrder" asp-controller="Schedule" asp-route-tourDate="@Model.TourDate" asp-route-tourId="@Model.TourId" asp-route-touristsCount="@Model.TouristsCount">Создать событие</a>
</div>